.dsa-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 120px
}

.dsa-container h2 {
    color: #333;
}

.dsa-container p {
    color: #666;
    line-height: 1.6;
}
